body {
    font-family: 'Arvo';
    font-size: 16px;
    padding: 20px 100px 0px 100px;
}

h1 {
  color: white;
  text-shadow: 3px 3px black;
}

p1 {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 20px;
}

/* List */

#app ul {
    list-style: none;
}

#app li {
    background: #fff;
    width: 500px;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    align-items: right;
}

.delete {
    /* display: none; */
    opacity: 0;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

li:hover .delete {
    /* display: block; */
    opacity: 1;
}

label {
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.priorityDiv {
  margin-left: auto;
  margin-right: auto;
}

.completed {
    text-decoration: line-through;
}

/* Form */

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    font-size: 1em;
}

footer {
  background-color: rgba(235, 233, 233, 0.5);
  text-align: center;
  padding: 10px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Controls */

.controls {
    margin-top: 20px;
}

nav ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
	overflow: hidden;
	background-color: grey;
}

nav li {
	float:left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #111;
  color: white;
}

/* nav a.active {
	background-color: #26007f;
} */
